NODE_ENV=development
PORT=5050
MONGODB_URI=mongodb://localhost:27017/smart_grocery
JWT_SECRET=replace-this
ADMIN_JWT_SECRET=replace-this
REDIS_URL=redis://localhost:6379
ENABLE_REDIS=false
SCRAPE_CONCURRENCY=5
DEFAULT_LANGUAGE=en
